.section3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20em;
}

.block {
    width: 8em;
    height: 8em;
    background-color: #7450E9;
    margin: 0.5em;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.block:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all 0.3s ease;
}

.section3left {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3right {
    text-align: right;
    margin-right: 10%;
}

.stack {
    display: flex;
    flex: 1;
    max-width: 50%;
    margin-top: 2em;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.techStackImg {
    max-width: 60%;
}

.nextjs {
    width: 60%;
}